/* load custom font */
@font-face {
    font-family: Hacjiuza, 'Courier New', Courier, monospace;
    src=url (hacjiuza.ttf);
}
@font-face {
    font-family: 'HelveticaNeue-LightItalic', Arial, Helvetica, sans-serif;
    src=url (helveticaneue.ttc);
}
/* these changes apply to everything */
body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
p, h1,h2 {
    color: antiquewhite;
}
/* begin top navigation */


/* end top navigation */
es the image covers the area without distortion */
}

